.promo {
  min-height: 100vh;
  position: relative;
  background: url("../img/Main_bg.jpg") no-repeat 50% / cover;
  padding-top: 206px;
  &_title {
    width: 535px;
    margin-top: 10px;
  }
  &__subtitle {
    position: relative;
    padding-left: 10px;
    @include before_circle;
    z-index: 2;
  }
  &__btns {
    margin-top: 25px;
    display: flex;
    width: 250px;
    align-items: center;
    justify-content: space-between;
  }
  &__link {
    color: #000;
    font-weight: 700;
    text-decoration: none;

    &:hover {
      color: #000;
    }
  }
}
