.sidepanel {
  display: flex;
  position: fixed;
  top: 223px;
  left: -22px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 226px;
  z-index: 3;
  &__divider {
    width: 2px;
    height: 70px;
    background-color: #000;
  }
  &__text {
    transform: rotate(-90deg) translate(-39%, 1%);
  }
}
