@media (max-width: 1275px) {
  .sidepanel {
    display: none;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 992px;
  }
  .about {
    &__wrapper {
      grid-template-columns: 400px 520px;
      column-gap: 40px;
    }
    &__skills {
      column-gap: 20px;
      grid-template: repeat(2, minmax(115px, auto)) / repeat(2, 250px);
      &-item {
        grid-template-columns: 40px 195px;
        column-gap: 15px;
      }
    }
  }
  .resume {
    &__wrapper {
      grid-template-columns: repeat(2, 400px);
      column-gap: 100px;
      padding-right: 0;
    }
  }
  .skills {
    &__items {
      grid-template: repeat(3, minmax(270px, auto)) / repeat(
          3,
          minmax(270px, auto)
        );
    }
    &__ratings {
      grid-template: 1fr 1fr 1fr / 1fr 1fr;
      padding-left: 90px;
      &-item {
        grid-template: minmax(49px, auto) 14px/317px 35px;
        justify-content: unset;
      }
      &-title {
        &:before {
          top: -10%;
        }
      }
    }
  }
  .portfolio {
    &__wrapper {
      grid-template-columns: repeat(auto-fit, 280px);
      grid-template-rows: 280px;
      justify-content: space-around;
      row-gap: 35px;
      .gorizontal,
      .vertical {
        grid-row: unset;
        grid-column: unset;
      }
    }
  }
  .price {
    &__wrapper {
      justify-content: space-around;
    }
  }
  .contacts {
    &__wrapper {
      padding: 0;
    }
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
  .title {
    &_fz36 {
      font-size: 30px;
    }
  }
  .about {
    &__wrapper {
      grid-template-columns: 300px 380px;
      column-gap: 20px;
    }
    &__skills {
      grid-template-columns: 380px;
      grid-auto-rows: minmax(115, auto);
      &-item {
        grid-template-columns: 40px 320px;
      }
    }
  }
  .resume {
    padding-top: 50px;
    &__wrapper {
      padding-top: 40px;
      grid-template-columns: 1fr;
      row-gap: 40px;
    }
  }
  .skills {
    padding-top: 60px;
    &__items {
      grid-template: repeat(4, 1fr) / repeat(2, 1fr);
    }
    &__ratings {
      padding-top: 60px;
      column-gap: 30px;
      padding-left: 0;
    }
  }
  .price {
    &__wrapper {
      padding: 0;
      grid-template-columns: repeat(auto-fit, 350px);
    }
  }
  .contacts {
    padding-top: 40px;
    &__photo {
      display: none;
    }
    &__wrapper {
      grid-template-columns: 560px;
    }
    &__form {
      column-gap: 10px;
    }
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
  }
  .title {
    &_fz48 {
      font-size: 28px;
      line-height: 39px;
    }
  }
  .promo {
    &_title {
      width: 300px;
    }
  }
  .about {
    padding-top: 40px;
    &__wrapper {
      grid-template: 400px auto auto/ 1fr;
    }
    &__photo {
      grid-row: unset;
    }
    &__skills {
      grid-template-columns: repeat(2, 260px);
      &-item {
        grid-template-columns: 40px 200px;
        column-gap: 20px;
      }
    }
  }
  .skills {
    &__ratings {
      grid-template: repeat(6, 1fr) / 1fr;
      padding-left: 90px;
    }
  }
  .portfolio {
    padding-top: 40px;
  }
  .price {
    padding-top: 40px;
    &__wrapper {
      margin-top: 20px;
    }
    &__item {
      padding-left: 25px;
      &:before {
        left: 0;
      }
    }
  }
  .contacts {
    &__wrapper {
      grid-template-columns: 540px;
    }
    &__form {
      grid-template: 45px 190px 45px / repeat(2, 250px);
    }
  }
}

@media (max-width: 576px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }
  .title {
    &_fz48 {
      font-size: 26px;
    }
    &_fz36 {
      font-size: 24px;
    }
  }
  .humburger {
    right: 20px;
  }
  .menu {
    &__block {
      width: 250px;
      padding-left: 20px;
    }
  }
  .promo {
    background: url("../img/Main_bg.jpg") no-repeat 57% / cover;
    &__btns {
      margin-top: 30px;
    }
  }
  .about {
    &__wrapper {
      grid-template: 340px auto auto/ 1fr;
    }
    &__skills {
      grid-template-columns: 1fr;
    }
  }
  .resume {
    &__column {
      &-title {
        padding-left: 47px;
      }
    }
    &__wrapper {
      padding-left: 0;
    }
    &__item {
      &:before {
        width: 36px;
      }
      &-head {
        padding-left: 68px;
      }
      &-icon {
        left: 11px;
      }
      &-body {
        padding-left: 16px;
      }
    }
  }
  .title {
    &__section {
      &-subtitle {
        line-height: 36px;
      }
    }
  }
  .skills {
    padding-top: 40px;

    &__items {
      grid-template: repeat(6, 1fr) / 1fr;
      margin-top: 40px;
    }
    &__ratings {
      padding: 40px 0;
      &-item {
        grid-template: minmax(49px, auto) 14px/ 1fr;
      }
      &-line {
        width: 100%;
      }
    }
  }
  .price {
    &__wrapper {
      grid-template-columns: repeat(auto-fit, 295px);
    }
  }
  .contacts {
    padding-bottom: 50px;
    &__wrapper {
      grid-template-columns: 1fr;
    }
    &__form {
      grid-template: 45px 45px 190px minmax(45px, auto) / 1fr;
    }
    &__textarea {
      grid-column: unset;
      width: 100%;
    }
    &__triggers {
      grid-column: unset;
      grid-template-columns: 1fr;
      column-gap: unset;
      row-gap: 20px;
    }
    &__btn {
      order: 2;
      max-width: 220px;
      margin: 0 auto;
    }
    &__policy {
      width: 180px;
      margin: 0 auto;
      line-height: 18px;
    }
  }
}
